img {
  max-width: 75%;
  height: auto;
}
.content {
  width: 40%;
  margin-left: 80px;
}

.setimg {
  width: 50%;
  margin-left: 40px;
}
.front {
  display: flex;
  margin-top: 5%;
}

.foot {
  margin-top: 10%;
}

.page-footer {
  background-color: #30336b;
}
.tag-head {
  font-size: 50px;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: -46px;
  margin-left: 10px;
}

.tag-head2 {
  font-size: 60px;
  font-weight: 700;
  color: #30336b;
}

.start {
  width: 100px;
  background-color: #30336b;
  width: 55%;
  height: 4rem;
  border-radius: 20px;
}
.text-size {
  font-size: 30px;
  color: whitesmoke;
}

.content-2 {
  width: 50%;
}

.para {
  font-size: 30px;
  font-weight: 400;
  padding-left: 40px;
  margin-top: 80px;
}

/* Query display*/
.start1 {
  background-color: #30336b;
  width: 20%;
  height: 4rem;
  border-radius: 20px;
  margin-left: 100px;
}

.text-size1 {
  font-size: 20px;
  color: whitesmoke;
}

.your-req {
  margin-left: 35%;
}
.setimg1 {
  width: 50%;
  height: 60%;
  margin-left: 60px;
}
